html {
  box-sizing: border-box;

}

*, *:before, *:after {
  box-sizing: inherit;
}

body { 
	background-color: #000; 
	font-family: sans-serif;
}

img { 
	width: 100%; 
	display: block;
}

.clock-face {
	width: 300px;
	height: 300px;
	background: transparent url("../images/clock-face.svg") no-repeat; 
	position: relative;
	margin: 0 auto;
}

.clock-face:target .hand-hour { 
	transform: rotate(360deg);
}

.clock-face:target .hand-minuite { 
	transform: rotate(4320deg);
}

.hand { 
	position: absolute;
	width:14px; 
	bottom: 150px; 
	left:150px;
	left: calc(50% - 7px); 
	transition: all 6000ms linear;
	transform-origin: center bottom;
}

.center { 
	width: 28px; 
	height: 28px;
	position: absolute;
	bottom: calc(50% - 14px);
	left: calc(50% - 14px); 
}

.btn { 
	color: #fff;
	text-decoration: none;
	border-radius: 50%;
	width: 8em;
	line-height: 6em;
	padding: 1em;
	display: inline-block;
	text-align: center;
}

.btn-forwards { 
	background-color: green; 
}

.btn-forwards:hover { 
	background-color: #fff;
	color: #000;
	transition: all 1000ms linear;
}

.btn-backwards:hover { 
	background-color: #fff;
	color: #000;
	transition: all 1000ms linear;
}

.btn-backwards { 
	background-color: red;
}

.main { 
	text-align: center;
}